*{
    padding: 0px;
    margin: 0px;
    text-align: center;
    background-color: #d6ccc2;
}
h1{
    background-color: black;
    color: #fff;
    
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.choice:hover{
    background-color: black;
    cursor: pointer;
    
}
img{
    height:150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;

}
.score{
    font-size: 2rem;
}
#user-score,#comp-score{
    font-size: 4rem;
}
#msg{
    color: #fff;
    font-size: 2rem;
    border-radius: 0.5rem;
    display: inline;
    background-color: black;
}
.msg-container{
    margin-top: 5rem;
}